/* ==== MAIN CONTENT ==== */

.calculator-page__content-container {
    container-type: inline-size;
    container-name: calculator-page;
}

.calculator-page__content {
    margin-top: var(--space-4);
    display: flex;
    gap: var(--space-4);
    align-items: flex-start;
}



.summary-card {
    inline-size: 30%;
    background-color: var(--color-surface-plain);
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-sm);
}

.calculator {
    inline-size: 80%;
    min-block-size: 35rem;
}



/* ==== Banner ==== */

.banner {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: var(--color-surface-plain);
    padding-inline: 1.5rem;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-2);
}

.banner__image-container {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.banner__image {
 width: 100%;
 height: 100%;
}


.banner__title {
font-weight: var(--fw-medium);
font-size: var(--fs-2);
color: var(--color-brand);
}

.banner-divider {
    background-color: var(--color-border-input);
    width: 1px;
    height: 50%;
}

.banner__description {
    color: var(--color-brand);
    font-size: var(--fs-0);
}



/* SUMMARY */

.summary-card {
    display: flex;
    flex-direction: column;
}

@container calculator-page (max-width: 1060px) {
    .summary-card {
        inline-size: 40%;
    }

}

.calculator--result .summary-card {
    display: none;
}
